.fb__projection-table{
    color: black;
    background-color: white;
    padding: 10px;
    font-family: Consolas,monaco,monospace;
    display: block;
   
}
table{
    border-collapse: collapse;
    justify-content: space-evenly;
}

.fb__projection-table-item td {
    border-bottom: 1px solid #ddd;
    color: gray;
    padding: 1rem;
}

.fb__projection-table-item{
    border-bottom: 1px solid lightgray;
}
.fb__projection-table-item td{
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-header{
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}
.css-78d1bb .MuiDataGrid-columnHeaderTitleContainerContent{
    overflow: visible !important;
}

.MuiDataGrid-row:nth-child(odd) {
    background-color: #EBECF0;
  }

.MuiDataGrid-columnHeaders{
    background: radial-gradient(circle at 20% 14%, rgba(0, 40, 83, 1) 50%, rgba(4, 12, 24, 1) 90%) !important;
    font-weight: 600 !important;
}

.MuiSvgIcon-root{
    color: lightgray !important;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
}

.css-vcjdx3{
    background: radial-gradient(circle at 20% 14%, rgba(0, 40, 83, 1) 50%, rgba(4, 12, 24, 1) 90%) !important;
    font-weight: 600 !important;
}
.fb__projection-top{
    display: flex;
    justify-content: space-evenly;
    min-width: 50%;
}
.box-headers{
    display: flex;
    min-width: 50%;
    justify-content: space-around;
}


@media screen and (max-width: 500px) {
    .MuiBox-root {
        width: 100% !important;
    }
    .fb__projection-top{
        display: block;
    }
}