

.MuiChartsAxis-tickLabel > tspan{
    fill:white !important;
}

.MuiChartsLegend-series > text> tspan{
    fill:white !important;
}
.align-text{
    text-align: center;
    margin-bottom: 20px;
}

.chart-containers{
    display: flex;
    justify-content: space-evenly;

}
.fb__navbar-logo-placeholder{
    margin-bottom: 10px;
    margin-top: 10px;
}


@media screen and (max-width: 500px) {
    .chart-containers{
        display: block;
    }
    .MuiResponsiveChart-container>svg{
        width: 100%!important;
        max-width: 400px !important;
    }
}